* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

:root {
    --primary-color: #4AD0C7;
    --secondary-color: #84FFFB;
}


body {
    background-color: var(--primary-color);
}

.container {
    background-color: #fff;
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 2em;

    padding: 2em;
}

.flex {
    display: flex;
}

.heading {
    border-left: 8px solid var(--secondary-color);
    font-size: 2rem;
    line-height: 0.9;
    padding-left: 0.5em;
    margin: auto 0;
    margin-bottom: 2em;
}

.subject-container {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.subject {
    text-decoration: none;
    color: black;
    padding: 3em;
    background-color: bisque;
    margin: 0.5em;
    background-image: linear-gradient(109.6deg, rgba(245, 95, 152, 1) 11.2%, rgba(254, 148, 136, 1) 100.2%);
    width: 30%;
    text-align: center;

}

@media only screen and (max-width:750px) {
    .subject {
        width: 100%;
    }
}