{% extends 'templates/base.html' %}
{% load static %}
{% block page %}
<link rel="stylesheet" href="{% static 'static/css/Style-contact.css' %}">
<div class="main">
  <div class="container-profiles">
    <div class="flex">
      <p>CONTACT US</p>
    </div>
    <div class="profile-box">

      <div class="profiles">
        <img
          src="https://scontent-del1-1.xx.fbcdn.net/v/t1.0-9/p720x720/73067827_500712763865726_7544997369897549824_o.jpg?_nc_cat=100&_nc_oc=AQkWg-I5aNdMPuXr2wyUKy-84zhux-b9llZollpR5kUrfnE5R9oSdpcdCPpwv7MBzlQ&_nc_ht=scontent-del1-1.xx&_nc_tp=1002&oh=671192776ee9010fb41cdbc963fd9bd5&oe=5E971DE1">
        <h3>Mohit Pandey<br></h3>
        <h3>CSE</h3><br>


        <div class="contact-details">
          <p class="social mail"><i class="fa fa-envelope"> &nbsp mp0392405@gmail.com</i></p>
          <a href="https://www.facebook.com/profile.php?id=100017810204977" class="social fb"><i
              class="fa fa-facebook-square"></i>mohit
            pandey</a>
          <a href="https://www.instagram.com/_mojo_ji_/" class="social instagram"><i
              class="fa fa-instagram"></i>@mojo_ji</a>
        </div>

      </div>

      <div class="profiles">
        <img
          src="https://scontent.fvns1-1.fna.fbcdn.net/v/t1.0-9/s960x960/82428342_826908247732099_4362870879273615360_o.jpg?_nc_cat=100&_nc_oc=AQn4Re0z3ChuzXgGquY7JV8y2xL9G-2NAXF2HozuoFWigju09hQ4oX_t7FxnXlJil6Y&_nc_ht=scontent.fvns1-1.fna&_nc_tp=1002&oh=63eef8fe2cc3c46a3b1f3a1d01f64882&oe=5ED7F5C0">
        <h3>Ishaan Gupta<br></h3>
        <h3>CSE</h3><br>
        <div class="contact-details">
          <a href="#" class="social mail"><i class="fa fa-envelope"></i>guptaishan849@gmail.com</a>
          <a href="https://www.facebook.com/profile.php?id=100012387941382" class="social fb"><i
              class="fa fa-facebook-square"></i>ishan gupta</a>
          <a href="https://www.instagram.com/ishan_9005/" class="social instagram"><i
              class="fa fa-instagram"></i>@ishan_gupta</a>
        </div>

      </div>
      <div class="profiles">
        <img
          src="https://scontent-del1-1.xx.fbcdn.net/v/t1.0-9/p720x720/72648814_2477572945852096_7370057003969806336_o.jpg?_nc_cat=101&_nc_oc=AQmVcz3CLyaGzWp1jzTtQAhrYhpWJSDVrkf3YiPZVbnMMtLUYhA2LDqPTscPF7ZERTQ&_nc_ht=scontent-del1-1.xx&_nc_tp=1002&oh=39058a84f5b0d6f387c1aa20b5b8968c&oe=5E9BD951">
        <h3>Lovedeep Singh Kamal<br></h3>
        <h3>IT</h3><br>
        <div class="contact-details">
          <p class="social mail"><i class="fa fa-envelope"></i>developer.lovedeep@gmail.com</p>
          <a href="https://www.facebook.com/lovedeep.singhkamal.3" class="social fb"><i
              class="fa fa-facebook-square"></i>lovedeep singh kamal</a>
          <a href="https://www.instagram.com/lovedeep_codes/" class="social instagram"><i
              class="fa fa-instagram"></i>@lovedeep_codes</a>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock %}