{% if instance.isapproved %}
<div class="item product">
    <img src="{{instance.imagesrc}}" alt="product image">
    <div class="item-details">
        <p class="item-name">{{instance.itemname}}</p>
        <p class="item-price">rs {{instance.price}}</p>
    </div>

    <div class="seller">
        <div class="seller-container">
            <p>contact:</p>
            <p class="seller-name">{{instance.sellername}}</p>
            <p class="seller-contact">{{instance.contact}}</p>
        </div>
    </div>
</div>
{% endif %}