{% extends 'templates/base.html' %}
{% load static %}
{% block page %}

<div class="container white">
    <div class="flex">
        <p class="heading">buy and sell</p>
        <a href="{%url 'upload' %}" class="sell-btn btn">sell</a>
    </div>
    <div class="marketplace">
        <link rel="stylesheet" href="{% static 'static/css/style-product.css' %}">
        {% if products %}
        {% for instance in products reversed %}
        {% include 'templates/item.html' %}
        {% endfor %}
        {% else %}

        <p class="nothing-text">no product to show.<br>click <a href="{%url 'upload' %}">sell</a>
            button to starting selling items</p>
        {% endif %}
    </div>


</div>
{% endblock %}