{% extends 'templates/base.html' %}
{% load static %}
{% block page %}

<link rel="stylesheet" href="{% static 'css/style-upload.css' %}">
<div class="container">
    <h1 class="title">sell item</h1>


    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="itemname">product name:</label><br>
        <!-- <input type="text" name="itemname" id="" class="full" required> -->
        {{form.itemname.errors}}
        {{form.itemname}}
        <br>
        <div class="flex">
            <div class="price half">
                <label for="price">price:</label><br>
                <!-- <input type="number" name="price" id="" min="0" class="full" required> -->
                {{form.price}}
                <br>
            </div>
            <div class="image half">
                <label for="myfile">upload image:</label><br>
                <!-- <input type="file" name="myfile" class="full" required> -->
                {{form.uploaded_file.errors}}
                {{form.uploaded_file}}
                <br>
            </div>
        </div>
        <label for="sellername">sellername:</label><br>
        <!-- <input type="text" name="sellername" id="full" class="full" required> -->
        {{form.sellername}}
        <br>
        <label for="contact">contact:</label><br>
        <!-- <input pattern="[1-9]{1}[0-9]{9}" type="number" name='contact' />  -->
        {{form.contact.errors}}
        {{form.contact}}

        <button type="submit" onclick="submitForm()" class="upload">Upload</button>
    </form>
</div>
<script>
    function submitForm() {
        alert(
            'your product is sent for approval !\nyou will be able to see your product once it is approved'
        )

    }
</script>
{% endblock %}